Repository sous-chefs/docker: changes, and which lefthook commands are due for each by the changed paths.
All: yamllint, rubocop, rspec

lefthook.yml:

pre-commit:
  commands:
    yamllint:
      tags: yaml style
      glob: "*.yml"
      run: yamllint {staged_files}
      stage_fixed: true
    rubocop:
      tags: backend style
      glob: "*.rb"
      exclude: '(^|/)(application|routes)\.rb$'
      run: chef exec rubocop {staged_files}
      stage_fixed: true
    rspec:
      tags: backend test
      glob: "spec/*.rb"
      run: chef exec rspec {staged_files}
      stage_fixed: true

docs: explain package restart notification target
  README.md
  documentation/docker_installation_package.md
  resources/installation_package.rb
Due: rubocop

docs: clarify package restart behavior
  README.md
  documentation/docker_installation_package.md
  resources/installation_package.rb
Due: rubocop

docs: explain direct resource notification targets
  README.md
  documentation/docker_installation_package.md
  resources/installation_package.rb
  resources/service.rb
Due: rubocop

docs: state restart target directly
  documentation/docker_installation_package.md
Due: none

docs: keep restart guidance Docker-specific
  documentation/docker_installation_package.md
Due: none

fix: avoid Docker restart on apt refresh (#1347)
  README.md
  documentation/docker_installation_package.md
  resources/installation_package.rb
  resources/service.rb
  spec/test/package_restart_spec.rb
  test/cookbooks/test/recipes/package_restart.rb
Due: rubocop, rspec

chore(main): release 12.0.2
  .release-please-manifest.json
  CHANGELOG.md
  metadata.rb
Due: rubocop

chore(main): release 12.0.2 (#1348)
  .release-please-manifest.json
  CHANGELOG.md
  metadata.rb
Due: rubocop

ci: publish cookbook as OCI artifact
  .github/workflows/ci.yml
  .github/workflows/conventional-commits.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/prevent-file-change.yml
  .github/workflows/release.yml
Due: yamllint
