Repository sous-chefs/docker: changes, and which lefthook commands are due for each by the changed paths.
All: yamllint, rubocop, rspec

yamllint:
  tags: yaml style
  run: yamllint {staged_files}
  stage_fixed: true

rubocop:
  tags: backend style
  run: chef exec rubocop {staged_files}
  stage_fixed: true

rspec:
  tags: backend test
  run: chef exec rspec {staged_files}
  stage_fixed: true

Cookstyle 8.0.0 Fixes
  CHANGELOG.md
  resources/container.rb
  resources/exec.rb
  resources/installation_package.rb
  resources/partial/_base.rb
  test/cookbooks/docker_test/recipes/container.rb
Due: rubocop

Support multiple credentials per registry
  CHANGELOG.md
  libraries/base.rb
  resources/image.rb
  resources/partial/_base.rb
Due: rubocop

🔄 Sync standardfiles/cookbook/.editorconfig
  standardfiles/cookbook/.editorconfig
Due: none

Update changelog for 11.9.3
  CHANGELOG.md
Due: none

Update metadata for 11.9.3
  metadata.rb
Due: rubocop

Set Changelog to ## Unreleased
  CHANGELOG.md
Due: none

Standardise files with files in sous-chefs/repo-management
  .vscode/extensions.json
Due: none

Standardise files with files in sous-chefs/repo-management (#1309)
  .vscode/extensions.json
Due: none

Standardise files with files in sous-chefs/repo-management
  CHANGELOG.md
  kitchen.dokken.yml
Due: yamllint

Standardise files with files in sous-chefs/repo-management (#1312)
  CHANGELOG.md
  kitchen.dokken.yml
Due: yamllint

Standardise files with files in sous-chefs/repo-management
  .github/copilot-instructions.md
  CHANGELOG.md
Due: none

Standardise files with files in sous-chefs/repo-management (#1313)
  .github/copilot-instructions.md
  CHANGELOG.md
Due: none

Cookstyle 8.4.0 Fixes
  CHANGELOG.md
  resources/container.rb
  resources/exec.rb
  resources/installation_package.rb
  resources/partial/_base.rb
  test/cookbooks/docker_test/recipes/container.rb
Due: rubocop

Set signed_by property in apt_repository to false on platforms that do not support it
  .github/workflows/ci.yml
  CHANGELOG.md
  kitchen.global.yml
  kitchen.yml
  resources/container.rb
  resources/image.rb
  resources/installation_package.rb
  spec/docker_test/installation_package_spec.rb
  test/cookbooks/docker_test/recipes/smoke.rb
Due: yamllint, rubocop, rspec

Set signed_by property in apt_repository to false on platforms that do not support it (#1315)
  .github/workflows/ci.yml
  CHANGELOG.md
  kitchen.global.yml
  kitchen.yml
  resources/container.rb
  resources/image.rb
  resources/installation_package.rb
  spec/docker_test/installation_package_spec.rb
  test/cookbooks/docker_test/recipes/smoke.rb
Due: yamllint, rubocop, rspec

Update changelog for 11.10.0
  CHANGELOG.md
Due: none

Update metadata for 11.10.0
  metadata.rb
Due: rubocop

Standardise files with files in sous-chefs/repo-management
  CHANGELOG.md
  kitchen.global.yml
Due: yamllint

Only use signed_by property if using the Chef Infra Client 18.7.10 and above
  CHANGELOG.md
  resources/installation_package.rb
Due: rubocop

Only use signed_by property if using the Chef Infra Client 18.7.10 and above (#1318)
  CHANGELOG.md
  resources/installation_package.rb
Due: rubocop

Update changelog for 11.10.1
  CHANGELOG.md
Due: none

Update metadata for 11.10.1
  metadata.rb
Due: rubocop

Cookstyle auto-corrections
  libraries/helpers_network.rb
  libraries/helpers_service.rb
  resources/container.rb
  resources/exec.rb
  resources/installation_package.rb
  resources/network.rb
  resources/partial/_base.rb
  test/cookbooks/docker_test/recipes/container.rb
Due: rubocop

Standardise files with files in sous-chefs/repo-management
  .markdownlint-cli2.yaml
  CHANGELOG.md
Due: none

fix(ci): Update workflows to use release pipeline
  .github/workflows/conventional-commits.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/prevent-file-change.yml
  .github/workflows/release.yml
  .release-please-manifest.json
  CHANGELOG.md
  release-please-config.json
Due: yamllint

fix(ci): Update workflows to use release pipeline (#1320)
  .github/workflows/conventional-commits.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/prevent-file-change.yml
  .github/workflows/release.yml
  .release-please-manifest.json
  CHANGELOG.md
  release-please-config.json
Due: yamllint

chore(main): release 11.10.2
  .release-please-manifest.json
  CHANGELOG.md
  metadata.rb
Due: rubocop

chore(main): release 11.10.2 (#1321)
  .release-please-manifest.json
  CHANGELOG.md
  metadata.rb
Due: rubocop

Standardise files with files in sous-chefs/repo-management
  .markdownlint-cli2.yaml
  CHANGELOG.md
  kitchen.global.yml
Due: yamllint

chore(ci): Update release workflow
  .github/workflows/release.yml
Due: yamllint

chore(ci): Update release workflow (#1326)
  .github/workflows/release.yml
Due: yamllint

fix(docs): Fix markdown
  CHANGELOG.md
  documentation/docker_installation_package.md
  documentation/docker_installation_script.md
  documentation/docker_installation_tarball.md
  documentation/docker_service_manager_execute.md
  documentation/docker_service_manager_systemd.md
Due: none

fix(docs): Fix markdown (#1329)
  CHANGELOG.md
  documentation/docker_installation_package.md
  documentation/docker_installation_script.md
  documentation/docker_installation_tarball.md
  documentation/docker_service_manager_execute.md
  documentation/docker_service_manager_systemd.md
Due: none

fix(docs): Ignore multiple blank lines
  .markdownlint-cli2.yaml
  CHANGELOG.md
Due: none

fix(docs): Ignore multiple blank lines (#1330)
  .markdownlint-cli2.yaml
  CHANGELOG.md
Due: none

chore(main): release 11.10.3
  .release-please-manifest.json
  CHANGELOG.md
  metadata.rb
Due: rubocop

chore(main): release 11.10.3 (#1327)
  .release-please-manifest.json
  CHANGELOG.md
  metadata.rb
Due: rubocop

fix: remove version constraint on chef-client
  metadata.rb
Due: rubocop

Path conditions:
  yamllint: any of: *.yml
  rubocop: any of: *.rb, but not: (^|/)(application|routes)\.rb$
  rspec: any of: spec/*.rb
