Repository sous-chefs/docker: changes, and which lefthook commands are due for each by the changed paths.
All: yamllint, rubocop, rspec

yamllint:
  tags: yaml style
  run: yamllint {staged_files}
  stage_fixed: true

rubocop:
  tags: backend style
  run: chef exec rubocop {staged_files}
  stage_fixed: true

rspec:
  tags: backend test
  run: chef exec rspec {staged_files}
  stage_fixed: true

fix: remove version constraint on chef-client (#1331)
  metadata.rb
Due: rubocop

chore(main): release 11.10.4
  .release-please-manifest.json
  CHANGELOG.md
  metadata.rb
Due: rubocop

chore(main): release 11.10.4 (#1332)
  .release-please-manifest.json
  CHANGELOG.md
  metadata.rb
Due: rubocop

chore: modernize platforms and cleanup legacy init templates
  .github/workflows/ci.yml
  conductor/future_resources_plan.md
  conductor/modernization_plan.md
  kitchen.dokken.yml
  kitchen.yml
  metadata.rb
  resources/installation_package.rb
  spec/docker_test/installation_package_spec.rb
  templates/default/sysvinit/docker-debian.erb
  templates/default/sysvinit/docker-rhel.erb
  templates/default/upstart/docker.conf.erb
Due: yamllint, rubocop, rspec

ci: migrate integration tests to exec driver on ubuntu-latest
  .github/workflows/ci.yml
  kitchen.dokken.yml
  kitchen.exec.yml
Due: yamllint

ci: optimize kitchen.exec.yml for GHA runner environment
  kitchen.exec.yml
Due: yamllint

chore: finish normalizing Ubuntu platform names
  .github/workflows/ci.yml
  kitchen.global.yml
Due: yamllint

ci: remove local Gemfile to let lint-unit workflow auto-generate
  Gemfile
Due: none

chore: clean up stale CI artifacts after exec-driver migration
  .github/actions/test-kitchen/action.yml
  .github/actions/virtualbox-setup/action.yml
  LIMITATIONS.md
  kitchen.global.yml
Due: yamllint

chore: normalize Ubuntu platform names
  .github/workflows/ci.yml
  kitchen.dokken.yml
  kitchen.yml
Due: yamllint

style: fix markdown linting errors in plan documents
  .markdownlint-cli2.yaml
  conductor/future_resources_plan.md
  conductor/modernization_plan.md
Due: none

Update cookstyle to v8
  .gitignore
  .mise.toml
  .tool-versions
  Gemfile
  libraries/helpers_network.rb
  libraries/helpers_service.rb
  resources/container.rb
  resources/exec.rb
  resources/installation_package.rb
  resources/network.rb
  resources/partial/_base.rb
  test/cookbooks/docker_test/recipes/container.rb
Due: rubocop

ci: switch to Cinc Workstation via sous-chefs install-workstation action
  .github/actions/chef-install/action.yml
  .github/actions/test-kitchen/action.yml
  .github/workflows/ci.yml
  .github/workflows/copilot-setup-steps.yml
  kitchen.exec.yml
Due: yamllint

test(smoke): drop Squid forward-proxy pattern, keep two-daemon check
  test/cookbooks/docker_test/recipes/smoke.rb
  test/cookbooks/docker_test/templates/squid_forward_proxy/squid.conf.erb
  test/integration/smoke/inspec/assert_functioning_spec.rb
Due: rubocop

test: adapt docker_test recipes for exec driver on shared runner
  test/cookbooks/docker_test/metadata.rb
  test/cookbooks/docker_test/recipes/default.rb
  test/cookbooks/docker_test/recipes/smoke.rb
  test/integration/resources/inspec/assert_functioning_spec.rb
Due: rubocop

fix: support modern Docker test platforms
  LIMITATIONS.md
  documentation/docker_container.md
  documentation/docker_service.md
  kitchen.exec.yml
  kitchen.global.yml
  kitchen.yml
  libraries/helpers_json.rb
  libraries/helpers_service.rb
  resources/container.rb
  resources/image.rb
  resources/partial/_base.rb
  resources/plugin.rb
  resources/registry.rb
  spec/docker_test/container_spec.rb
  spec/docker_test/image_spec.rb
  spec/docker_test/registry_spec.rb
  spec/docker_test/service_spec.rb
  spec/libraries/image_prune_spec.rb
  test/cookbooks/docker_test/files/image_3.tar
  test/cookbooks/docker_test/files/image_3/Dockerfile
  test/cookbooks/docker_test/recipes/container.rb
  test/cookbooks/docker_test/recipes/image.rb
  test/cookbooks/docker_test/recipes/legacy_cluster.rb
  test/cookbooks/docker_test/recipes/plugin.rb
  test/cookbooks/docker_test/recipes/registry.rb
  test/integration/resources/inspec/assert_functioning_spec.rb
Due: yamllint, rubocop, rspec

test: harden network suite for current Docker
  spec/test/network_spec.rb
  test/cookbooks/test/recipes/network.rb
  test/integration/network/controls/assert_functioning_spec.rb
Due: rubocop, rspec

fix: tolerate missing container image labels
  resources/container.rb
  test/cookbooks/test/recipes/container.rb
Due: rubocop

test: load cmd_change image before redeploy
  test/cookbooks/test/recipes/container.rb
Due: rubocop

test: account for Docker 28 image prune behavior
  test/integration/resources/controls/assert_functioning_spec.rb
Due: rubocop

chore(main): release 12.0.0
  .release-please-manifest.json
  CHANGELOG.md
  metadata.rb
Due: rubocop

ci: use sous-chefs workflows 8.0.1
  .github/workflows/ci.yml
  .github/workflows/conventional-commits.yml
  .github/workflows/prevent-file-change.yml
  .github/workflows/release.yml
Due: yamllint

ci: use sous-chefs workflows 8.0.1
  .github/workflows/ci.yml
  .github/workflows/copilot-setup-steps.yml
Due: yamllint

chore: migrate dependency resolution to Policyfile
  .github/copilot-instructions.md
  .github/workflows/copilot-setup-steps.yml
  .gitignore
  AGENTS.md
  Berksfile
  Policyfile.rb
  chefignore
  resources/container.rb
  spec/spec_helper.rb
Due: yamllint, rubocop, rspec

fix: resolve lint failures
  AGENTS.md
Due: none

fix: update docker inspec checks
  test/integration/default/controls/default_spec.rb
  test/integration/resources/controls/assert_functioning_spec.rb
Due: rubocop

fix: map policyfile run lists to kitchen suites
  Policyfile.rb
  kitchen.exec.yml
Due: yamllint, rubocop

fix: install docker inspec resource pack
  .github/workflows/ci.yml
  test/integration/resources/inspec.yml
Due: yamllint

fix: load docker inspec resource pack non-interactively
  test/integration/resources/controls/assert_functioning_spec.rb
  test/integration/resources/inspec.yml
Due: yamllint, rubocop

fix: declare docker inspec resource dependency
  test/integration/resources/controls/assert_functioning_spec.rb
  test/integration/resources/inspec.yml
Due: yamllint, rubocop

fix: use local docker inspec resources
  .github/workflows/ci.yml
  test/integration/resources/inspec.yml
  test/integration/resources/libraries/docker_container.rb
  test/integration/resources/libraries/docker_image.rb
Due: yamllint, rubocop

fix: install docker inspec resource pack
  .github/workflows/ci.yml
  test/integration/resources/controls/assert_functioning_spec.rb
  test/integration/resources/libraries/docker_container.rb
  test/integration/resources/libraries/docker_image.rb
Due: yamllint, rubocop

fix: avoid top-level docker inspec helper
  test/integration/resources/controls/assert_functioning_spec.rb
Due: rubocop

fix: share inspec plugin config with kitchen
  .github/workflows/ci.yml
Due: yamllint

fix: declare docker resource pack dependency
  test/integration/resources/inspec.yml
Due: yamllint

fix: load docker inspec resources from pack
  .github/workflows/ci.yml
  test/integration/resources/inspec.yml
  test/integration/resources/libraries/inspec_docker_resources.rb
Due: yamllint, rubocop

chore(main): release 12.0.1
  .release-please-manifest.json
  CHANGELOG.md
  metadata.rb
Due: rubocop

fix: restart Docker only when package changes
  resources/installation_package.rb
  resources/service.rb
  spec/test/package_restart_spec.rb
  test/cookbooks/test/recipes/package_restart.rb
Due: rubocop, rspec

Path conditions:
  yamllint: any of: *.yml
  rubocop: any of: *.rb, but not: (^|/)(application|routes)\.rb$
  rspec: any of: spec/*.rb
